<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Chương</th>
      <th>Nội dung</th>
      <th>Khóa học</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.chapter %></td>
        <td><%= lesson.content %></td>
        <td><%= lesson.course.name %></td>
        <td><%= link_to 'Xem', lesson %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

